.cloud1 {
  top: 60%;
  left: -15%;
}

.cloud2 {
  top: 50%;
  left: 65%;
}

.cloud3 {
  top: 40%;
  left: 10%;
}

.cloud4 {
  top: 15%;
  left: 5%;
}

.cloud5 {
  top: 10%;
  left: 35%;
}
