.slime {
    background-image: url('../../../assets/images/slime.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 400px;
}
.lion {
    background-image: url('../../../assets/images/lion.png');
    background-repeat: no-repeat;
    background-size: 375px 375px;
    background-position: right;
}
.bear {
    background-image: url('../../../assets/images/bear.png');
    background-repeat: no-repeat;
    background-size: 375px 375px;
    background-position: right;
}
.tiger {
    background-image: url('../../../assets/images/tiger.png');
    background-repeat: no-repeat;
    background-size:400px 350px;
    background-position: right;
}
.boar {
    background-image: url('../../../assets/images/boar.png');
    background-repeat: no-repeat;
    background-size: 400px 375px;
    background-position: right;
}
.werewolf {
    background-image: url('../../../assets/images/werewolf.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: right;
}
.yeti {
    background-image: url('../../../assets/images/yeti.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: right;
}
.chimera {
    background-image: url('../../../assets/images/chimera.png');
    background-repeat: no-repeat;
    background-size: 600px 400px;
    background-position: right;
}
.chlorofiend {
    background-image: url('../../../assets/images/chlorofiend.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: right;
}
.lich {
    background-image: url('../../../assets/images/lich.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 400px 400px;
}
.wraith {
    background-image: url('../../../assets/images/wraith.png');
    background-repeat: no-repeat;
    background-size: 400px 350px;
    background-position: right;
}
.vampire {
    background-image: url('../../../assets/images/vampire.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: right;
}
.zombie {
    background-image: url('../../../assets/images/zombie.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: right;
}
.dragon {
    background-image: url('../../../assets/images/dragon.png');
    background-repeat: no-repeat;
    background-size: 600px 400px;
    background-position: right;
}
.corrupted {
    background-image: url('../../../assets/images/corrupted.png');
    background-repeat: no-repeat;
    background-size: 400px 400px;;
    background-position: right;
}